<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>

<body>
    <h1>This is a student page for {{student.name}} - age : {{student.age}}</h1>
    <table>
        {{#each danhsach}}
        <tr>
            
            <td>{{id}}</td>
            <td><a href="student.hbs">{{name}}</a></td>
            <td>{{phone}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>